<!DOCTYPE html>
<html>
  <head>
    <title>Criar Manifest</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/xcode.min.css">
    <link rel="stylesheet" href="https://app-manifest.firebaseapp.com/bower_components/materialize-colorpicker/dist/css/materialize-colorpicker.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h3><a href="/list">Manifest List</a></h3>
      <h1>Create New Manifest</h1>
      <form action="/save" method="post" id="form" class="col m6 s12 row">
        <div class="input-field col s12 l6">
          <input placeholder="Placeholder" id="name" name="name" type="text" class="validate">
          <label for="name" autofocus>App Name</label>
        </div>

        <div class="input-field col s12 l6">
          <input placeholder="Placeholder" id="short_name" name="short_name" type="text" class="validate">
          <label for="short_name">Short Name</label>
        </div>

        <div class="input-field col s12 l6">
          <input placeholder="Placeholder" id="theme_color" name="theme_color" type="text" class="validate color" value="#2196F3">
          <label for="theme_color">Theme Color</label>
        </div>

        <div class="input-field col s12 l6">
          <input placeholder="Placeholder" id="background_color" name="background_color" type="text" class="validate color" value="#2196F3">
          <label for="background_color">Background Color</label>
        </div>

        <div class="input-field col s12 l6">
          <select id="display" name="display">
            <option value="browser" selected>Browser</option>
            <option value="standalone">Standalone</option>
            <option value="minimal-ui">Minimal UI</option>
            <option value="fullscreen">Fullscreen</option>
          </select>
          <label for="display">Display Mode</label>
        </div>

        <div class="input-field col s12 l6">
          <select id="orientation" name="orientation">
            <option value="" selected>Any</option>
            <option value="portrait">Portrait</option>
            <option value="landscape">Landscape</option>
          </select>
          <label for="orientation">Orientation</label>
        </div>

        <div class="input-field col s12 l6 mono">
          <input placeholder="Placeholder" id="scope" name="scope" type="text" class="validate" value="/">
          <label for="scope">Application Scope</label>
        </div>

        <div class="input-field col s12 l6 mono">
          <input placeholder="Placeholder" id="start_url" name="start_url" type="text" class="validate" value="/">
          <label for="start_url">Start URL</label>
        </div>
      
         <p class="center col s12">
            <button class="btn waves-effect waves-light green" type="submit">Criar</button>
          </p>
        </form>


    </div>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="https://app-manifest.firebaseapp.com/bower_components/materialize-colorpicker/dist/js/materialize-colorpicker.min.js"></script>
    <script src="https://app-manifest.firebaseapp.com/bower_components/clipboard/dist/clipboard.min.js"></script>
    <script>
      $(document).ready(function() {
        $('select').material_select();
      });

      $('input.color').colorpicker({align: 'left'}).on('changeColor');



    //   $('#form input').on('keyup', update);
    //   $('#form select').on('change', update);
 

    </script>



  </body>
</html>
