<!DOCTYPE html>
<html>
  <head>
    <title>Manifest List</title>

  </head>
  <body>
    <div class="container">
      <h3><a href="/create">Create Manifest</a></h3>
      <h1>Manifest List</h1>
      <% if(manifests.length>0) { %>
      <table class="list-table">
        <thead>
          <tr>
            <th>Manifest Name</th>
            <th>Editar</th>
            <th>Deletar</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<manifests.length;i++) { %>
            <tr>
              <td><a href="/show/<%= manifests[i]._id%>/manifest.json"><%= manifests[i].name%></a></td>
              <td><a href="/edit/<%= manifests[i]._id%>">editar</a></td>
              <td>
                  <form action="/delete/<%= manifests[i]._id%>" method="post">
                    <button type="submit">DELETE</button>
                  </form>   
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No manifests found.</div>
      <% } %>
    </div>
  </body>
</html>
