

#output {
  padding: 16px;
  background: #fafafa;
  border-radius: 5px;
}

.desc {
  font-size: 1.1em;
}

.input-field input[type=text]:focus + label {
  color: #1565c0;
}

.input-field input[type=text]:focus, .input-field input[type=text].valid {
  border-bottom: 1px solid #1565c0;
  box-shadow: 0 1px 0 0 #1565c0;
}

#scope {
  font-family: monospace;
}

.file-field .material-icons {
  vertical-align: middle;
}

.file-field .btn {
  padding-left: 16px;
  padding-right: 16px;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #1565c0;
}

nav.nav-wrapper {
  background-color: #2196F3;
}

footer {
  font-size: 14px;
  color: #aaa;
}

#footer a {
  padding: 16px;
  color: #1565c0;
  margin-top: 80px;
}

#output-container {
  position: relative;
}

#copy {
  position: absolute;
  top: 8px;
  right: 8px;
}